.homelink {
  width: 184px;
}

.extrastyles-specialpadding {
  padding: 30px 0 0 6.8vw;
}


.extrastyles-collectionitem-img {
  border-radius: 50%;
}

.extrastyles-border-radius {
  border-radius: 50%;
}
.extrastyles-negmarg  {
  margin-bottom: -13px;
}
textarea { resize: none; }