@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

.homelink {
  width: 184px;
}

.extrastyles-specialpadding {
  padding: 30px 0 10vh 6.8vw;
}
.extrastyles-specialpadding2 {
  padding: 30px 0 0 0;
}

.extrastyles-collectionitem-img {
  border-radius: 50%;
}

.extrastyles-border-radius {
  border-radius: 50%;
}
.extrastyles-negmarg-avatar {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .extrastyles-specialpadding2 {
    padding: 30px 0 0 6.8vw;
  }
  .extrastyles-negmarg-avatar {
    margin-bottom: -50px;
  }
}
textarea {
  resize: none;
}
